body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #f4f7fa, #e0ecf5);
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-login {
  max-width: 1200px;
}


.logo-section img {
  max-width: 350px;
  margin-top: 20px;
}

.login-card {
  border-radius: 16px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

input {
  width: 70%;
  padding: 10px 14px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.25);
}

.btn-primary {
  border-radius: 10px;
  font-weight: 600;
}

.ver_clave {
  margin-top: 10px;
  cursor: pointer;
}