body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  display: flex;
}

aside {
  background-color: #6f97c4;
  width: 220px;
  min-height: 100vh;
  color: white;
}

aside.a {
    max-width: 20px;
}

.img_logo { 
    padding: 1rem;
    border-radius: 100%;
}

main {
  flex: 1;
  background: #f8f9fa;
}

h2 {
    color: #f8f9fa;
    background-color: #80b19a;
    padding: 0.4rem;
    border-radius: 10px;
}

.links {
    width: 10rem;
    gap: 1rem;
}