:root {
    --card-border: #bbd6f0;
    --text-light: #ffffff;
    --text-dark: #333;
    --bg-card: #f8f9fa;

}
#add-patient-card-container{
    margin: 3rem;
    margin-top: 3rem;
}
.patient-card {
  border: 1px solid var(--card-border);
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  min-height: 180px;
  width: 70%;
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-plus-lg{
    color: var(--card-border);
}

.patient-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.patient-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.patient-card .patient-icon {
  font-size: 2.5rem;
  color: var(--sidebar-bg);
}

.add-patient-card {
  border-style: dashed;
  border-width: 3px;
  background-color: var(--bg-card);
}   

.add-patient-card .patient-icon {
  color: var(--text-dark);
  font-size: 2.5rem; 
}

.patient-avatar {
  font-size: 3rem; 
}