body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #f4f7fa, #e0ecf5);
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Contenedor principal */
.container-login {
  max-width: 2000px;
}

/* Logo Sintergia (fuera del recuadro blanco, alineado a la izquierda) */
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-section img {
  max-width: 400px;
  margin-top: 20px;
}

/* Tarjeta de login */
.login-card {
  border-radius: 20px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

/* Logo GenoTree dentro del recuadro */
.login-card .logo-genotree {
  max-width: 250px;
  margin-top: 1rem;
}

/* Inputs */
input {
  width: 70%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: border 0.3s ease-in-out;
}
input.ingreso:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 177, 154, 0.5);
}

.btn-primary {
  background-color: #80b19a !important; /* Verde suave */
  border: none !important;
  border-radius: 10px;
  font-weight: 600;
  color: white !important;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #6da68c !important; 
}
